
body{
    background-color:rgb(232, 225, 143);
    font-family: 'Courier New', Courier, monospace;
}

nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

button,input[type="submit"]{
    background-color: aquamarine;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

table{
  background-color: palegreen; 
  margin: 0 auto;
  font-size: 20px;
}

table,td,tr,th{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

h1{
    text-align: center;
}

#cerrarsesion{
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0;
    width: 150px;
    font-size: 25px;
    background-color: palegreen;  
}

form{
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 25px;
    padding: 20px;
    background-color: palegreen; 
}

label{
    font-weight: bold;
}

select{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
}

#invisible{
    display: none;
}